/*
 *= require bootstrap
 *= require bootstrap-responsive
 *= require pygments
 */

header {
    padding-top:40px;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: black;
    text-decoration: none;
}

footer {
    padding-bottom:40px;
}

h3:first-child {
    margin-top:0px;
}

h3 {
    margin-top:20px;
}

h4 {
    margin-top:20px;
}

h3 + h4 {
    margin-top:10px;
}

hr {
    margin:10px 0;
}

pre {
  font-size: 12px;
  font-size: 12px;
  word-wrap: normal;
  white-space: pre;
  overflow-x: scroll;
}