### What is Sky?

Sky is an open source database used for flexible, high performance analysis of [behavioral data](/blog/introduction-to-behavioral-databases.html).
For certain kinds of data such as clickstream data and log data, it can be several orders of magnitude faster than traditional approaches such as SQL databases or Hadoop.

The performance of Sky comes from optimized data organization, fast query execution, and the [embarrassingly parallel](http://en.wikipedia.org/wiki/Embarrassingly_parallel) nature of behavioral data.
On commodity hardware you can expect to query *about 10 million events per core per second*.


### Demo

If you click the button below, you'll be able to interact with Sky using the UI called [Skybox](/docs/skybox.html).
Skybox allows you to explore the behavioral flow of the objects you're tracking in your database.
In this example, we've loaded a small amount of the [GitHub Archive's](http://www.githubarchive.org/) data set.

In this demo you can view what actions GitHub users perform on public, open source projects.
For example, you can step through and see what users do immediately after a repository "push".
Then you can drill down and see what users do after they do a "push" and then "create" a new repository.
You can continue to drill down to any depth since results are computed on the fly.

<a class="btn btn-primary" href="http://demo.skydb.io">Open the Sky Demo</a>


### Getting Started

The best way to get up and running with Sky is to read through the [Documentation](/docs) and [Getting Started](/docs/getting-started.html) pages.


### Recent Posts

<% page_articles[0..2].each_with_index do |article, i| %>
##### <%= link_to article.title, article %> <span><%= article.date.strftime('%b %e, %Y') %></span>
<% end %>


### More Information

If you have questions about Sky, feel free to visit the <a href="https://github.com/skydb/sky">Github repository</a>, <a href="mailto:sky@librelist.com">e-mail the mailing list</a> or <a href="https://twitter.com/benbjohnson">find me on Twitter</a>.
